<div th:fragment="sidebar" class="sidebar">
    <h6>Навигация</h6>
    <div class="nav flex-column">
        <a th:href="@{/products}" class="mb-2">
            <i class="bi bi-box-seam me-2"></i>Товары
        </a>
        <div th:each="category : ${categories}" class="ps-3">
            <a th:href="@{/products/category/{id}(id = ${category.id})}"
               class="small d-block py-1">
                <i class="bi bi-chevron-right small me-1"></i>
                <span th:text="${category.name}"></span>
            </a>
        </div>
        <a th:href="@{/reviews}" class="mb-2">
            <i class="bi bi-chat-left-text me-2"></i>Обзоры
        </a>

        <h6 class="mt-4">Категории</h6>
        <a th:href="@{/categories}" class="mb-2 text-primary fw-bold">
            <i class="bi bi-gear me-2"></i>Управление
        </a>

    </div>
</div>